.idea
.vscode

{api,lib,app}/*.js
*.js.map
*.d.ts
*.d.ts.map
tsconfig.tsbuildinfo

coverage
features/videos/**
features/screenshots/**

.env

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules
