.cutout {
    @apply pt-8;
    @apply pb-5;
}

.stats {
    @apply flex;
    @apply justify-between;
    @apply flex-row;
    @apply mb-5;
    @apply px-10;
}

.cutout :global(.chart) {
    @apply px-10;
}

.stats h2 {
    @apply text-gray-700;
    @apply my-auto;
    @apply font-normal;
}

.stat {
    @apply text-right;
}

.value {
    @apply text-gray-700;
    @apply mb-1;
    @apply font-normal;
}

.date {
    @apply text-gray-400;
    @apply font-normal;
}

.cutout :global(.plot) g:first-child path {
    @apply stroke-blue-200;
    stroke-width: 4;
    stroke-dasharray: 8 12;
}

.cutout :global(.plot) g:nth-child(2) path {
    @apply stroke-blue-400;
    stroke-width: 4;
}

.cutout :global(.plot) g:first-child circle {
    @apply hidden;
}

.cutout :global(.plot) g:nth-child(2) circle {
    @apply fill-blue-400;
}

.cutout :global(.marker) rect {
    @apply fill-blue-400;
}

.cutout :global(.marker) text {
    @apply fill-white;
}
