.stats {
    @apply flex;
    @apply flex-row;
    @apply px-10;
}

.cutout :global(.chart) {
    @apply px-10;
}

.stat {
    @apply text-gray-700;
    @apply text-center;
    @apply mr-12;
    @apply flex;
    @apply flex-col;
    @apply p-1;
    @apply justify-center;
    border-bottom: 3px solid;
}

.stat:first-child {
    @apply border-blue-400;
}

.stat:nth-child(2) {
    @apply border-blue-200;
}

.value {
    @apply w-16;
    @apply text-center;
    @apply font-normal;
    @apply pb-2;
}

.label {
    @apply font-thin;
    @apply uppercase;
    @apply mb-2;
    @apply text-xs;
}

.cutout :global(.plot) g:first-child path {
    @apply stroke-blue-400;
    stroke-width: 4;
}

.cutout :global(.plot) g:nth-child(2) path {
    @apply stroke-blue-400;
    @apply opacity-25;
    stroke-width: 4;
}

.cutout :global(.plot) g:first-child circle {
    @apply fill-blue-400;
}

.cutout :global(.plot) g:nth-child(2) circle {
    @apply hidden;
}

.cutout :global(.marker) rect {
    @apply fill-blue-400;
}

.cutout :global(.marker) text {
    @apply fill-white;
}
