.cutout {
    @apply py-4;
}

.stats {
    @apply flex;
    @apply flex-row;
    @apply px-10;
}

.cutout :global(.chart) {
    @apply px-10;
}

.stat {
    @apply text-center;
    @apply px-4;
    @apply py-2;
    @apply mr-8;
    border-bottom: 3px solid;
}

.stat:first-child {
    @apply border-blue-400;
}

.stat:nth-child(2) {
    @apply border-blue-200;
}

.value {
    @apply text-gray-700;
    @apply mb-1;
    @apply font-normal;
}

.label {
    @apply text-gray-400;
    @apply font-thin;
    @apply uppercase;
    @apply mb-2;
    @apply text-xs;
}

.cutout :global(.plot) g:first-child path {
    @apply stroke-blue-200;
    stroke-width: 4;
    opacity: 50%;
}

.cutout :global(.plot) g:nth-child(2) path {
    @apply stroke-blue-400;
    stroke-width: 4;
}

.cutout :global(.plot) g:first-child circle {
    @apply hidden;
}

.cutout :global(.plot) g:nth-child(2) circle {
    @apply fill-blue-400;
}

.cutout :global(.marker) rect {
    @apply fill-blue-400;
}

.cutout :global(.marker) text {
    @apply fill-white;
}
