.stats {
    @apply flex;
    @apply flex-row;
    @apply justify-between;
    @apply px-4;
    @apply xl:px-10;
    @apply overflow-x-scroll;
    @apply mb-4;
    scrollbar-width: none;
}

.stats::-webkit-scrollbar {
    @hidden;
}

.primals :global(.chart) {
    @apply px-4;
    @apply pl-2;
    @apply xl:pr-10;
    @apply xl:pl-4;
}

.stat {
    border-bottom: 3px solid;
    transition: border-bottom 500ms, color 500ms;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply cursor-pointer;
    @apply p-1;
    @apply text-gray-400;
    @apply border-transparent;
}

.stat[data-selected=true] {
    @apply border-purple-400;
    @apply text-gray-700;
    @apply cursor-default;
}

.value {
    @apply w-16;
    @apply text-center;
    @apply text-base;
    @apply xl:text-xl;
    @apply font-normal;
    @apply pb-2;
}

.label {
    @apply font-thin;
    @apply uppercase;
    @apply text-center;
    @apply mb-2;
    @apply text-xs;
}

.primals :global(.plot path) {
    @apply fill-none;
    @apply stroke-purple-400;
    stroke-width: 4;
}

.primals :global(.plot circle) {
    @apply fill-purple-400;
}

.primals :global(.marker rect) {
    @apply fill-purple-400;
}

.primals :global(.marker text) {
    @apply fill-white;
}
