.app {
    @apply container;
    @apply mx-auto;
    @apply max-w-screen-xl;
    @apply select-none;
}

.reports {
    @apply grid;
    @apply grid-cols-1;
    @apply md:grid-cols-2;
    @apply gap-12;
    @apply w-full;
    @apply max-w-screen-xl;
}

.reports > :global(.report) {
    @apply shadow-md;
    @apply bg-white;
    @apply flex;
    @apply flex-col;
    @apply justify-evenly;
    @apply pt-4;
    @apply pb-2;
    @apply lg:pt-8;
    @apply lg:pb-4;
}

.timepicker {
    @apply w-full;
    @apply p-4;
    @apply justify-center;
    @apply md:justify-end;
    @apply bg-transparent;
    @apply max-w-screen-xl;
    @apply flex;
    @apply flex-none;
}

.loading .reports:before {
    content: "";
    @apply top-64;
    @apply inset-x-1/2;
    @apply fixed;
    @apply -m-8;
    @apply align-middle;
    @apply self-end;
    @apply bg-white;
    @apply animate-spin;
    @apply w-16;
    @apply h-16;
    @apply bg-transparent;
    @apply inline-block;
    @apply rounded-full;
    @apply border-8;
    @apply border-solid;
    @apply border-gray-200;
    border-top-color: rgba(59, 130, 246);
    z-index: 9999;
}

.loading .reports:after {
    content: "Loading";
    @apply text-center;
    @apply align-text-bottom;
    @apply top-64;
    @apply w-32;
    @apply h-32;
    @apply -ml-16;
    @apply -mt-16;
    @apply inset-x-1/2;
    @apply fixed;
}

.loading :global(.report) {
    @apply opacity-75;
}

.timepicker :global(.items .item) {
    @apply rounded-full;
    @apply border;
    @apply border-gray-200;
    @apply bg-white;
    @apply me-0;
    @apply ms-4;
    @apply w-14;
    @apply text-xs;
}

.timepicker :global(.items .item[data-selected=true]) {
    @apply border-0;
}
