.app {
    @apply container;
    @apply mx-auto;
    @apply max-w-screen-xl;
    @apply grid;
    @apply select-none;
}

.reports {
    @apply mt-24;
    @apply grid;
    @apply grid-cols-1;
    @apply md:grid-cols-2;
    @apply gap-12;
    @apply w-full;
    max-width: inherit;
}

.reports > div {
    @apply shadow-md;
    @apply bg-white;
    @apply flex;
    @apply flex-col;
    @apply justify-evenly;
    @apply pt-4;
    @apply lg:pt-8;
    @apply pb-2;
    @apply lg:pb-4;
}

.timepicker {
    max-width: inherit;
    @apply w-full;
    @apply fixed;
    @apply py-4;
    @apply items-center;
    @apply justify-around;
    @apply justify-self-center;
    @apply grid;
    @apply grid-cols-1;
    @apply lg:grid-cols-2;
    @apply bg-white;
    @apply shadow-sm;
}

.loading:before {
    content: "";
    @apply animate-spin;
    @apply absolute;
    @apply top-1/3;
    @apply left-1/2;
    @apply w-24;
    @apply h-24;
    @apply -mt-12;
    @apply -ml-12;
    @apply rounded-full;
    @apply border-8;
    @apply border-solid;
    @apply border-gray-200;
    border-top-color: rgba(59, 130, 246);
}
