@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    @apply bg-gray-50;
    @apply p-8;
}

* {
    margin: 0;
    padding: 0;
}
