@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
    @apply bg-gray-50;
    @apply px-8;
    @apply pb-8;
    @apply pt-0;
    @apply xl:pt-8;
}

* {
    margin: 0;
    padding: 0;
}
